<!DOCTYPE html>
<html>
<head>
  <title>Send Email</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h2>Send Email</h2>

  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <form action="/send" method="POST">
    <input type="email" name="email" placeholder="Receiver Email" required />
    <button type="submit">Send Email</button>
  </form>
</div>

</body>
</html>